*.Python linguist-detectable=true  
*.JupyterNotebook linguist-detectable=true   
*.MachineLearning linguist-detectable=true  
*.DeepLearning linguist-detectable=true 
*.pandas linguist-detectable=false  
