*.Python linguist-detectable=true  
*.Jupyter Notebook linguist-detectable=true   
*.Machine Learning linguist-detectable=true  
*.Deep Learning linguist-detectable=true 
*.pandas linguist-detectable=false  
